$white: #f9fafa;
$blue: #215366;
$secondary-gray: #7d848c;
$mainblue: #9cb3b8;
$secondary-blue: #6cafb4;
// .container {
//   margin: 60px auto;
//   border-radius: 7px;
//   padding: 10px 10px;
//   background-color: $lightblue;
// }

.status-bar {
  border-radius: 7px;
  background-color: $secondary-blue;
  padding: 5px 10px;

  margin: 5px 5px;
  i {
    margin-top: 10px;
    font-size: 30px;
    color: $blue;
    margin-left: 6px;
    transition: 0.3s;

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.message-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.contact, .helper {
  border-radius: 7px;
  background-color: $secondary-blue;
  padding: 5px 10px;
  transition: 0.3s;
  margin: 5px 10px;
  font &:hover {
    background-color: $white;
    cursor: pointer;
  }
  i {
    margin-top: 10px;
    font-size: 30px;
    color: $blue;
    margin-left: 6px;
    transition: 0.3s;
  }

  h5 {
    margin-top: 10px;
    color: $blue;
  }
}

.contact-break {
  margin: 5px 20px;
  border: 1px solid $white;
  border-radius: 5px;
}
.sidebar {
  background-color: $blue;
}

.chatbar {
  background-color: $blue;
  padding: 10px 10px;
}

input {
  border: none;
  border-radius: 80px;
  width: 100%;
  padding-left: 15px;
  margin-top: 10px;

  &::placeholder {
    color: $blue;
    font-weight: 300;
  }

  &:focus {
    outline: none;
  }
}

.sent {
  background-color: $secondary-blue;
  p {
    color: $blue;
  }
}

.recieved {
  background-color: $secondary-gray;
  p {
    color: $white;
  }
}

.time {
  font-weight: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "sans-serif";
}

.mesage-box {
  background-color: $blue;
}

.messages {
  background-color: $blue;
}

.scroll {
  overflow-y: scroll;
  height: 800px;
}

.search-bar {
  background-color: $white;
}
