$white: #fffafa;
$blue: #215366;
$secondary-gray: #7d848c;
$mainblue: #9cb3b8;
$secondary-blue: #6cafb4;
$black: #000000;

html,
body {
  height: 100%;
}
.scrollable-element {
  scrollbar-width: none;
}

.min-100 {
  min-height: 100%;
}
.chat-box-bar {
  background-color: $white;
  border-bottom: 1px solid $secondary-gray;
  border-left: 1px solid $secondary-gray;
}

.contact-box-bar {
  border-bottom: 1px solid $secondary-gray;
}

.chat-box {
  background-color: $white;
  border-left: 1px solid $secondary-gray;
}

.text-imp {
  color: $black;
  opacity: 1;
}

.text-unimp {
  color: $black;
  opacity: 0.21;
}

.contact {
  background-color: $mainblue;
  :hover {
    background-color: $blue;
    cursor: pointer;
  }
}

.message {
  color: $black;
  opacity: 0.8;
}

.img-thumbnail-small {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.sent {
  border: 1px solid $secondary-gray;
  border-radius: 20px;
}

.received {
  background-color: $mainblue;
  border: 1px solid $secondary-gray;
  border-radius: 20px;
}
