$white: #fffafa;
$blue: #1f7292;
$secondary-gray: #7d848c;
$mainblue: #9cb3b8;
$secondary-blue: #6cafb4;
$black: #000000;

html,
body {
  height: 100%;
}

.posts {
  background-color: $white;
}

.scrollable-element {
  scrollbar-width: none;
}

.min-100 {
  min-height: 100%;
}

.info {
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.text-imp {
  color: $black;
  opacity: 1;
}

.text-unimp {
  color: $black;
  opacity: 0.7;
}

i {
  transition: 0.3s;
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}