$white: #fffafa;
$blue: #1f7292;
$secondary-gray: #7d848c;
$mainblue: #9cb3b8;
$secondary-blue: #6cafb4;
$black: #000000;

body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://img1.akspic.com/image/13125-golden_retriever-old_german_shepherd_dog-kunming_wolfdog-dachshund-dog_breed-1920x1080.jpg") !important;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-background {
  background-color: $blue;

  button {
    background-color: $white;
    color: $blue;
  }
}

.new-user {
  color: $white;
}

h5,
a {
  color: $white;
}
